body {
  background-color: rgb(231, 236, 242);
}
.form-floating input {
  background-color: rgb(231, 236, 242);
  border-radius: 10px;
}
.form-group textarea {
  background-color: rgb(231, 236, 242);
  border-radius: 10px;
}

.form-container {
  background-color: rgb(255, 255, 255);
}
